body {
  background-color: darkkhaki;
}
h1 {
  color: darkgreen;
  border: 2px solid black;
  padding: 5px;
  text-align: center;
}
#fragebox {
  position: relative;
  text-align: center;
  top: -200px;
}

a {
  width: 90px;
  height: 30px;
  border: solid black;
  display: inline-block;
  background-color: yellow;
  position: relative;

}

p1 {
  color: darkorchid;
}

#bubatzanimation {
  position: relative;
}

#lindner {
  animation: flylindner 5s linear 1 normal forwards;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
}
#sunglasses {
  left: 810px;
  top: 98px;
  animation: flysunglasses 5s linear 1 forwards;
  position: absolute;
  pointer-events: none;
  width: 10 px;
  height: auto;
}

#explosion {
  animation: explosionshow 5s linear 1 forwards;
  position: absolute;
  left: 818px;
  top: 78px;
}

#sunglasses > img {
  width: 150px;
}

#joint {
  animation: flyjoint 5s linear 1 forwards;
  top: -800px;
  left: 660px;
  position: absolute;
  pointer-events: none;
}
@keyframes explosionshow {
  from{
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}
@keyframes flyjoint {
  from {
    transform: translatey(0x);
  }
  to {
    transform: translatey(1000px);
  }
}
@keyframes flysunglasses {
  from {
    transform: translatey(-500px);
  }
  10% {
    transform: rotate(90deg);
    transform: translatey(-425px);
  }
  25% {
    transform: rotate(180deg);
    transform: translatey(-375px);
  }
  50% {
    transform: rotate(270deg);
    transform: translatey(-250px);
  }
  75% {
    transform: rotate(360deg);
    transform: translatey(-125px);
  }
  100% {
    transform: rotate(346deg);
    transform: translatey(0px);
  }
  to {
    transform: rotate(346deg);
  }
}
@keyframes flylindner {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(600px);
  }
}
